# Add any directories, files, or patterns you don't want to be tracked by version control
#ECLIPSE
.classpath
.project
.settings/
.springBeans
.factorypath

#INTELLIJ
.idea/
*.iml
*.iws
out/

#GENERATED
target/
bin/
git.properties
rebel.xml
*.log

#MAVEN
.mvn/
mvnw
mvnw.cmd

#OSX
*.DS_Store
.AppleDouble
.LSOverride
._*
